
<div class="fondo" style="width: 100%;height: 723px; background-image:url('../../../assets/27.PNG');">
    <app-header></app-header>
    <h2>Mi Parque</h2>
    <div style="height: 100px;"></div>
    <div class="container" style="width: 50%; font-size: 18px;font-weight: bold;">
          
          
            <div class="form-group">
            <h2>Nombre:</h2>
              <p for="">Parque gritos</p>
            </div>
        <div class="form-group row">
        
                <div class="col">
                    <h2>Medidas:</h2>
                    <p for="">1200x2300</p>
                </div>
              
                <div class="col">
                    <h2>Telefono:</h2>
                   <p>8715468525</p>
                </div>
            </div> 
            <div class="form-group row">
            
              <div class="col">
                  <h2>Direccion:</h2>
                  <label for="">Colonia Villas Universidad #325</label>
              </div>
              <div >
                <button type="button" class="btn btn-success" style="margin-right: 15px;">Visitantes</button>
                <button type="button" class="btn btn-warning" style="margin-right: 15px;">Actualizar</button>
                <button type="button" class="btn btn-danger" style="margin-right: 15px;">Eliminar</button></div>
          </div>        
      
    </div>
  