<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>Ingrese el codigo de verificación</h3>
      </div>
      <!-- Login Form -->
      <form >
        <input type="number" id="codi" class="fadeIn second"  placeholder="codigo" formControlName="codigo">
        <input type="submit" class="fadeIn fourth" value="Enviar">
      </form>
  
      <!-- Remind Passowrd 
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>-->
    </div>
  </div>

